* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(222, 206, 183);
    font-family:serif;

    background-image: url("banner.png");
    background-size: 70px;
    background-position: 30px;
    background-repeat: repeat-y;

    width: 100vw;
    overflow-x: hidden;
}

h1{
    font-family:'Times New Roman', Times, serif;
    color: rgb(8,26,49);
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    font-weight: 100;
}

p{
    font-family:'Times New Roman', Times, serif;
    color: rgb(67,61,53);
}

pre{
    font-family: 'Times New Roman', Times, serif;
}

.cover-page {
    margin-top: 400px;
    margin-left: 20%;
    margin-bottom: 400px;
}
.cover-page h1 {
    position: relative;
    z-index: 1;
    font-size: 80pt;
    font-style: italic;
    font-weight: 100;
    left: 5%;
    width: 600px;
}

.cover-page p {
    width: 600px;
    position: absolute;
    top: 350px;
    left: 30%;
    z-index: 0;
}


.pg-1 .img-before img {
    width: 300px;
    position: relative;
    left: 40%;
}

.pg-1 .chive {
    position: relative;
    display: flex;
    align-items: center;
}

.pg-1 p {
    width: 240px;
    margin: 200px 400px
}

.pg-1 .img-after {
    position: absolute;
    top: 200px;
    left: 450px;
}

.pg-1 .img-after img {
    width: 20%;
    display: none;
}

.pg-1 .chive-image.show img{
    display: block;
}

.pg-1 .chive span{
    margin: 2px 2px;
    border-style: dotted;
    border-width: 2px;
    border-radius: 10%;
}

.chive-image{
    position: absolute;
    top: 0px;
    left: 200px;
    z-index: 0;


}

.pg-2 .chive-image img{
    width: 50%;

}

.pg-2 {
    position: relative;

}

.pg-2 pre{
    margin: 200px 400px;
    position: absolute;
    left:20%;
    top: 0px;
}

.pg-2 img{
    width: 60%;
    position: relative;
    left: 100px;

}

.pg-3 pre{
    margin-top: 300px;
    margin-bottom: 300px;
    position: relative;
    left: 50%
}

.pg-4 {
    position: relative;
    font-size: 10pt;
    font-style: italic;
    left: 10%;
}

.pg-5{
    position: relative;
}

.pg-5 img{
    margin: 300px 20px;
    position: relative;
    left: 15%;
    width: 25%;
    z-index: 0;
}

.pg-5 p {
    max-width: 700px;
    position: absolute;
    left: 35%;
    top: 400px;
    z-index: 1;
}

.pg-5 p span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    font-weight: 100;
}

/* .pg-7 p {
    max-width: 700px;
} */

.spread img{
    width: 100vw;
}

.final-pg{
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 200px;
}